body {
  padding-top: 0;
  color: black;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: rgb(128, 77, 26)
}

img {
  max-width: 100%;
}

.container {
    width: 965px;
    height: auto;
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: white;
    margin: 0, auto;
}

header {
  position: relative;
  width: 965px;
  height: 350px;
  background-image: url(../assets/headimg.jpeg);
  background-size: cover;
  border: 12px;
  border-color: orange;
  margin: 0 auto;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 965px;
  background-color: rgb(128, 77, 26, .75)
}

header h1 {
  position: relative;
  text-align: center;
  width: 322px;
}

.logo {
  max-width: 322px;
  max-height: 322px;
  background-color: orange;
  border-radius: 5px;
  margin: 0 auto;
  vertical-align: middle;
}

.pg-title {
  display: inline-block;
  width: 188px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.actiontx h2 {
  text-align: center;
}

.imgbox {
  max-width: 322px;
  max-height: 322px;
}

.imgbox .right {
  margin-left: -1px;
}

.centercopy {
  font-size: 16px;
  font-family: 'Montserrat';
  color: green;
}
